<!-- Insert navbar -->

<div class="container wrapper">

    <center>
        <div class='abacus'>
            <div class='left'></div>
            <div class='right'></div>
            <div class='bar bar1'></div>
            <div class='bar bar2'></div>
            <div class='bar bar3'></div>
            <div class='block red1'></div>
            <div class='block red2'></div>
            <div class='block blue1'></div>
            <div class='block blue2'></div>
            <div class='block purple1'></div>
            <div class='block purple2'></div>
            <div class='block yellow1'></div>
            <div class='block yellow2'></div>
        </div>
    </center>

    <h2 class="text-center">Register for an Account</h2>

    <div class="row p-5">
        <div class="col-12">

            <form class="register">

                <div class="form-group">
                    <label for="inputFirstName">First Name</label>
                    <input type="text" class="form-control" id="first-name-input" placeholder="First Name">
                </div>
                <div class="form-group">
                    <label for="inputLastName">Last Name</label>
                    <input type="text" class="form-control" id="last-name-input" placeholder="Last Name">
                </div>
                <div class="form-group">
                    <label for="inputUserType">Select an option:</label>
                    <select class="form-control" id="inputUserType">
                        <option>Student</option>
                        <option>Teacher</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputEmail1">Email address</label>
                    <input type="email" class="form-control" id="email-input" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="inputPassword1">Password</label>
                    <input type="password" class="form-control" id="password-input" placeholder="Password">
                </div>
                <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span> <span class="msg"></span>
                </div>
                <center>
                    <button type="submit" class="btn btn-default mt-4 mb-2">Create Account</button>
                    <p class="smalltext">Already registered? <a href="/login">Log in here.</a></p>
                </center>
            </form>

        </div>
    </div>
</div>