{{!-- Start navbar --}}
<nav class="navbar navbar-light bg-light fixed-top border-bottom shadow-sm">
    <div>
        <a href="/userportal" class="navbar-brand">ABACUS</a>
    </div>

    <div class="d-flex flex-row">
        <div class=" d-flex flex-row navbar-nav mr-auto mt-2 mt-lg-0">
            <a id="navLink1" class="nav-link nav-item active" href="/userportal">Home</a>
            <a id="logoutLink" class="nav-link nav-item" href="/logout">Logout</a>
        </div>
    </div>
</nav>
{{!-- End navbar --}}

<div class="container wrapper text-center">
    {{!-- Below doesn't work: Error: Missing Helper: TEACHER --}}
    {{!-- <h2 class="text-center">Welcome back {{ TEACHER NAME}}!</h2> --}}

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img src="images/allstudents.ico" />
                    <h4 class="card-title">My Students</h4>
                    <p class="card-text">View all assignments by student.</p>
                    {{!-- <button id="studentsBtn" class="btn">Continue</button> --}}
                    <a href="/students" class="btn">Continue</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img src="images/allassignments.ico" />
                    <h4 class="card-title">All Assignments</h4>
                    <p class="card-text">View a list of all assignments.</p>
                    {{!-- <button id="assignmentsBtn" class="btn">Continue</a> --}}
                    <a href="/assignments" class="btn">Continue</a>
                </div>
            </div>
        </div>
    </div>
</div>