{{!-- NOTES --}}
{{!-- Add in correct key for teacher name to handlebars --}}
{{!-- Add navbar --}}
{{!-- Fix links to students and assignments pages --}}
{{!-- Fix title in tab bar --}}


<div class="container wrapper text-center">
    {{!-- Below doesn't work: Error: Missing Helper: TEACHER --}}
    {{!-- <h2 class="text-center">Welcome back {{ TEACHER NAME}}!</h2> --}}

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img src="images/allstudents.ico" />
                    <h4 class="card-title">My Students</h4>
                    <p class="card-text">View all assignments by student.</p>
                    <button id="studentsBtn" class="btn">Continue</button>
                    {{!-- <a href="#" class="btn">Continue</a> --}}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img src="images/allassignments.ico" />
                    <h4 class="card-title">All Assignments</h4>
                    <p class="card-text">View a list of all assignments.</p>
                    <button id="assignmentsBtn" class="btn">Continue</a>
                </div>
            </div>
        </div>
    </div>
</div>