{{!-- Start navbar --}}
<nav class="navbar navbar-light bg-light fixed-top border-bottom shadow-sm">
    <div>
        <a href="/" class="navbar-brand">ABACUS</a>
    </div>

    <div class="d-flex flex-row">
        <div class=" d-flex flex-row navbar-nav mr-auto mt-2 mt-lg-0">
            <a id="navLink1" class="nav-link nav-item active" href="#">Sign In</a>
            <a id="navLink2" class="nav-link nav-item" href="/create-account">Register</a>
        </div>
    </div>
</nav>
{{!-- End navbar --}}

<div class="container register-signin-wrapper">

    {{!-- Abacus animation --}}
    <center>
        <div class='abacus'>
            <div class='left'></div>
            <div class='right'></div>
            <div class='bar bar1'></div>
            <div class='bar bar2'></div>
            <div class='bar bar3'></div>
            <div class='block red1'></div>
            <div class='block red2'></div>
            <div class='block blue1'></div>
            <div class='block blue2'></div>
            <div class='block purple1'></div>
            <div class='block purple2'></div>
            <div class='block yellow1'></div>
            <div class='block yellow2'></div>
        </div>
    </center>

    <h2 class="text-center">Sign In</h2>

    <div class="row p-5">
        <div class="col-12">

            {{!-- Sign in Form --}}
            <form class="signin">
                {{!-- Email --}}
                <div class="form-group">
                    <label for="inputEmail1">Email address</label>
                    <input type="email" class="form-control" id="email-input" placeholder="Email">
                </div>
                {{!-- Password --}}
                <div class="form-group">
                    <label for="inputPassword1">Password</label>
                    <input type="password" class="form-control" id="password-input" placeholder="Password">
                </div>
                {{!-- Error message --}}
                <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span> <span class="msg"></span>
                </div>
                {{!-- Button on link to register page --}}
                <center>
                    <button type="submit" class="btn btn-default mt-4 mb-2">Sign In!</button>
                    <p class="smalltext">Don't have an account? <a href="/create-account">Register here.</a></p>
                </center>
            </form>

        </div>
    </div>
</div>