{{!-- Start navbar --}}
<nav class="navbar navbar-light bg-light fixed-top border-bottom shadow-sm">
    <div>
        <a href="/userportal" class="navbar-brand">ABACUS</a>
    </div>

    <div class="d-flex flex-row">
        <div class=" d-flex flex-row navbar-nav mr-auto mt-2 mt-lg-0">
            <a id="navLink1" class="nav-link nav-item" href="/userportal">Home</a>
            <a id="logoutLink" class="nav-link nav-item" href="/logout">Logout</a>
        </div>
    </div>
</nav>
{{!-- End navbar --}}

<h1 class="soloAssignHead">
    {{this.title}}
</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Grade</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">
          {{#each students}}
      </th>
      <td>{{student.first_name}}</td>
      <td>{{student.last_name}}</td>
      <td>{{this.grade}}</td>
    </tr>
  </tbody>
</table>