{{!-- Insert navbar --}}

<div class='container'>
    {{!-- Buttons --}}
    <a href="/assignments" class="btn">View Assignments</a>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
        + Add Student
    </button>
{{!-- 
    {{!-- Modal --}}
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Enter New Student Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                {{!-- Form to add new student --}}
                <form class="newAssign modal-body">

                    {{!-- First Name --}}
                    <div class="form-group">
                        <label for="inputFirstName">First Name</label>
                        <input type="text" class="form-control" id="first-name-input" placeholder="First Name">
                    </div>
                    {{!-- Last Name --}}
                    <div class="form-group">
                        <label for="inputLastName">Last Name</label>
                        <input type="text" class="form-control" id="last-name-input" placeholder="Last Name">
                    </div>
                    {{!-- Teacher ID needs to be changed to handlebars --- can we make it show up as a drop down of student names, and then save it as the teacher ID into workbench? --}}
                    {{!-- Teacher Id --}}
                    <div class="form-group">
                        <label for="inputTeacherId">Teacher ID</label>
                        <input type="text" class="form-control" id="teacherId-input" placeholder="Teacher ID">
                    </div>
                </form>

                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn">Save</button>
                </div>
            </div>
        </div>
    </div> --}}

    {{!-- Table with student data --}}
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Student Name</th>

                {{!-- We need to figure out how to populate these from the data that's currently in workbench --}}
                <th scope="col">Assignment 1</th>
                <th scope="col">Assignment 2</th>
                <th scope="col">Assignment 3</th>
            </tr>
        </thead>
        <tbody>
            {{#each students}}
            <tr>
                <th scope="row">{{this.first_name}} {{this.last_name}}</th>

                {{!-- Need to somehow associate grades and pull them in with handlebars intot he <td> tags --}}
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{!-- <script type="text/javascript" src="js/createStudent.js"></script> --}}