<h1 class="row assignHead">Assignments</h1>

<section class="containter">
    <div class="card">
  {{#each Assignments}}
  <div class="card-header">
    
    {{this.title}} 
  </div>
  <div class="card-body">
    <h5 class="card-title">  
      {{this.subject}}
    </h5>
    <p class="card-text">
      {{this.description}}
    </p>
    <button class="btn btn-primary">View Grades</button>
     {{/each}}
  </div>
</div>
</section>