{{!-- Insert navbar --}}

<div class='container'>
    {{!-- Buttons --}}
    <a href="/assignments" class="btn">View Assignments</a>
    <button id="myBtn" class="btn">+ Add Student</button>

    <!-- Modal for form to add a student -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <h3>Enter Student Information</h3>
            </div>
            <div class="modal-body">
                {{!-- Form to add new student --}}
                <form class="newAssign modal-body">

                    {{!-- First Name --}}
                    <div class="form-group">
                        <label for="inputFirstName">First Name</label>
                        <input type="text" class="form-control" id="first-name-input" placeholder="First Name">
                    </div>
                    {{!-- Last Name --}}
                    <div class="form-group">
                        <label for="inputLastName">Last Name</label>
                        <input type="text" class="form-control" id="last-name-input" placeholder="Last Name">
                    </div>
                    {{!-- Teacher ID needs to be changed to handlebars --- can we make it show up as a drop down of student names, and then save it as the teacher ID into workbench? --}}
                    {{!-- Teacher Id --}}
                    <div class="form-group">
                        <label for="inputTeacherId">Teacher ID</label>
                        <input type="text" class="form-control" id="teacherId-input" placeholder="Teacher ID">
                    </div>
                    <center>
                        <button type="submit" id="addStudentBtn" class="btn">Save</button>
                        <button id="closeBtn" class="btn">Close</button>
                    </center>
                </form>
            </div>
        </div>

    </div>

    {{!-- Table with student data --}}
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Student Name</th>

                {{!-- We need to figure out how to populate these from the data that's currently in workbench --}}
                <th scope="col">Assignment 1</th>
                <th scope="col">Assignment 2</th>
                <th scope="col">Assignment 3</th>
            </tr>
        </thead>
        <tbody>
            {{#each students}}
            <tr>
                <th scope="row">{{this.first_name}} {{this.last_name}}</th>

                {{!-- Need to somehow associate grades and pull them in with handlebars intot he <td> tags --}}
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<script type="text/javascript" src="js/createStudent.js"></script>