{{!-- Insert navbar --}}

<div class='container'>
    {{!-- Buttons --}}
    <a href="/assignments" id="viewBtn" class="btn">View Assignments</a>
    <button id="addBtn" class="btn">+ Add Student</button>

    <!-- Modal for form to add a student -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <h3>Enter Student Information</h3>
            </div>
            <div class="modal-body">
                {{!-- Form to add new student --}}
                <form class="newAssign modal-body">

                    {{!-- First Name --}}
                    <div class="form-group">
                        <label for="inputFirstName">First Name</label>
                        <input type="text" class="form-control" id="first-name-input" placeholder="First Name">
                    </div>
                    {{!-- Last Name --}}
                    <div class="form-group">
                        <label for="inputLastName">Last Name</label>
                        <input type="text" class="form-control" id="last-name-input" placeholder="Last Name">
                    </div>
                    {{!-- Teacher ID needs to be changed to handlebars --- can we make it show up as a drop down of student names, and then save it as the teacher ID into workbench? --}}
                    {{!-- Teacher Id --}}
                    <div class="form-group">
                        <label for="inputTeacherId">Teacher ID</label>
                        <input type="number" class="form-control" id="teacher-id-input" placeholder="Teacher ID">
                    </div>
                    <center>
                        <button type="submit" id="saveBtn" class="btn">Save</button>
                        <button id="closeBtn" class="btn">Close</button>
                    </center>
                </form>
            </div>
        </div>

    </div>

    {{!-- Table with student data --}}
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Student Name</th>

                {{!-- We need to figure out how to populate these from the data that's currently in workbench --}}
                {{#each assignments}}
                <th scope="col">{{this.title}}</th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each students}}
            <tr>
                <th scope="row">{{this.first_name}} {{this.last_name}}</th>

                {{#each this.grades}}
                <td>{{this}}</td>
                {{/each}}
                
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<script type="text/javascript" src="js/createStudent.js"></script>