<section class="row">
  <h1 class="col-12 assignHead">Assignments</h1>
</section>

<section class="row assignRow">
<section class="container offset-2 col-8">
  {{#each Assignments}}
  <div class="card">
    <section class="eachCard">
    <div class="card-header">
      <strong>{{this.title}}</strong>
    </div>
    <div class="card-body">
      <h5 class="card-title">
        {{this.subject}}
      </h5>
      <p class="card-text">
        {{this.description}}
      </p>
      <button href="/"class="btn btn-primary">View Grades</button>
      <button href="/"class="btn btn-primary">Delete Assignment</button>
    </div>
    </section>
  </div>
       {{/each}}
            <button href="/createAssignment"class="btn btn-primary mb-2">Create New Assignment</button>

</section>
</section>
