{{!-- Insert navbar --}}

<div class='container'>
    <a href="/assignments">View Assignments</a>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Student Name</th>

                {{!-- We need to figure out how to populate these from the data that's currently in workbench --}}
                <th scope="col">Assignment 1</th>
                <th scope="col">Assignment 2</th>
                <th scope="col">Assignment 3</th>
            </tr>
        </thead>
        <tbody>
            {{#each students}}
            <tr>
                <th scope="row">{{this.first_name}} {{this.last_name}}</th>

                {{!-- Need to somehow associate grades and pull them in with handlebars intot he <td> tags --}}
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {{/each}}
        </tbody>
    </table>

</div>