.assignHead{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 0px;
}

.eachCard{
    margin-bottom: 10px !important;
}

.card{
    padding-top: 0px !important;
    margin-top: 10px;
    margin-bottom: 10px;
};