.wrapper {
    width: 90%;
    margin-top: 140px;
    background: rgba(211, 211, 211, 0.6);
}

.wrapper2 {
    padding: 60px 30px;
}

.wrapper3 {
    padding: 20px 30px;
}

h2 {
    padding-bottom: 30px;
    color: #975daf;
}

.card {
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 30px 0px;
}

.card1 {
    border-left: 5px solid #a86cc1;
}

.card2 {
    border-left: 5px solid #cd8de5;
}

h4, p {
    color: #6a6a6a;
}

img {
    margin-bottom: 15px;
}