.wrapper {
    width: 90%;
    padding: 60px 30px;
    padding-bottom: 80px;
    box-shadow: 0px 2px 8px #545454;
}

.card {
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 30px 0px;
}

h4, p {
    color: #6a6a6a;
}

img {
    margin-bottom: 15px;
}