* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../images/ryan-stone-U3cctUBucn0-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.navbar {
    background: #f7f6f6 !important;
}

.navbar-title {
    font-family: 'Federo', sans-serif;
    font-size: 2em;
    color: #43464b;
    padding: 10px;
}

#navLink1, #navLink2, #logoutLink {
    padding: 10px;
}

.container {
    /* background: white; */
    /* background: rgba(211, 211, 211, 0.6); */
    /* opacity: 0.9; */
    /* border: 1px solid #d3d3d3; */
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 70px;
    box-shadow: 0px 2px 8px #545454;
}

a:hover {
    text-decoration: none;
    color: #800080;
}

.btn {
    background: #421c52;
    color: white;
}   

.btn:hover {
    background: #800080;
    /* background: #ae0152; */
    color: white;
}

footer {
    background: #e4e4e4;
    padding: 20px;
    width: 100vw;
}

/* Assignments page */
.assignHead {
    color: #43464b;
    font-family: 'Federo', sans-serif;
}

.assignment-cards {
    border: 1px solid #800080 !important;
    border-radius: 8px;
}

.assignment-headers {
    background: #800080;
    opacity: 0.8;
    color: white;
    padding: 20px;
}

.card {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 10px;
    margin-bottom: 30px;
    border: 1px solid #421c52;
};